@model MaquetaAplicacion.Models.Elemento

@{
    ViewBag.Title = "Show";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
    </tr>

</table>
