@{
    ViewBag.Title = "Acerca de";
}

<h1>@ViewBag.Title</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit euismod eget, ullamcorper nam pellentesque neque sapien mus duis in, sed sodales elementum posuere rutrum ac massa curabitur. Suspendisse litora fermentum dictum urna natoque rutrum, auctor vestibulum potenti consectetur justo nascetur viverra, varius malesuada dictumst bibendum libero
</p>
<p>
    Volutpat quisque velit neque metus mi est nam suscipit turpis eget, consequat pharetra fermentum mus mattis elementum sed iaculis fames dolor, rutrum quam laoreet quis amet vestibulum litora lobortis ut. Penatibus semper facilisis neque sagittis dictum maecenas ligula, quis mus sit senectus leo elit aenean, himenaeos porttitor at velit hendrerit platea.
</p>
