@{
    ViewBag.Title = "Contacto";
}

<h1>@ViewBag.Title.</h1>

<address>
    Aaaaaa, Mmmmmm<br />
    <abbr title="Phone">Teléfono:</abbr>
    999-999-999
</address>

<address>
    <strong>Web corporativa:</strong>
    <a href="//www.age.com">www.age.com</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>