@model MaquetaAplicacion.Models.Componente

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>@ViewBag.Titulo</h1>
    <p class="lead mayusculas">@ViewBag.Descripcion</p>
</div>

<div>
    <img src="" alt="logo de empresa" />
</div>